.header{
    background-color: #000;
}
.logo{
    width: 135px;
}
.nav-NavLink{
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
}
a:hover{
    color: #F34E3A;
}
.cart-count {
    background: #fff;
    border-radius: 50%;
    position: relative;
    top: -12px;
    left: -8px;
    font-size: 7px;
    color: #000;
}
.cart-count-2 {
    position: relative;
    top: 1px;
    left: 1px;
}