@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
.service-section{
    padding: 100px 0;
    background-color: #111111;
}
.service-title {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;
}
.service-para{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}
.service-card{
    background-color: transparent;
    cursor: pointer;
}
.service-text{
    font-family: 'Ubuntu', sans-serif;
}
.service-card:hover .card-title{
    color: #F34E3A;

    transition: .5s;
}